@page "/"

<h2>Available Chat Lobbies</h2>

@if (rooms == null)
{
    <p class="loading-text"><em>Loading lobbies...</em></p>
}
else if (!rooms.Any())
{
    <p class="empty-text">No lobbies available right now.</p>
}
else
{
    <p>People online: @GetTotalConnectionCount()</p>

    <ul class="lobby-list">
        @foreach (var room in rooms)
        {
         if (!room.Hidden) {
            <li class="lobby-item">
                <button class="join-button" @onclick="() => JoinRoom(room.Id)">Join</button>
                <div class="lobby-info">
                    <strong class="lobby-name">@room.Name</strong>
                    <span class="lobby-id">@room.Description (@room.Connections.Count())</span>
                </div>
            </li>
            }
        }
    </ul>
}